/*base rules*/
* {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #6c757d
  /* 150% of font-size */
}

/*preloader*/

.preloader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 99998;
}

.preloader::before{
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: #000;
  transition: 1s;
}

.preloader::after{
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  background: #000;
  transition: 1s;
}
.preloader.complete::before{
  bottom:-50%;

}
.preloader.complete::after{
  top:-50%;
  
}
.preloader.complete{
  visibility: hidden;
}

.circle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.1);
  border-top: 10px solid #FF9800;
  animation: animate 1.5s infinite linear;
  z-index: 99999;

}
@keyframes animate{
  0%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(3600deg);

  }
}
.section-title h2{
  
  font-size: 50px;
  color: black;
  font-weight: 700;
  margin: 0;
  position: relative;

}




nav.r-nav{
  background: transparent;
  padding: 20px 0;
  transition: .5s all;
}
nav .navbar-brand{
  font-size: 30px;
  color: #fff;
  padding-bottom: 15px;
}
nav .navbar-nav li a{
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 900;
  font-family: 'Nunito', sans-serif;

}
nav .navbar-nav li{
  margin-left: 15px;
}
nav.r-nav.stickyadd{
  background: white !important;
  padding: 1px 0;
  box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.5);
  transition: .5s all ease-in-out;

}

nav.stickyadd .navbar-brand{
  color: #FF9800;
  font-size: 40px;
  transition: .5s all;
  font-weight: 900;
}
nav.stickyadd .navbar-nav .nav-link{
  color: black !important;
}
.navbar .navbar-toggler-icon{
  color: #fff;
}
nav.stickyadd .navbar-toggler-icon{
  color: black;
}

header{
  height:100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/landing-page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header-content{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-box{
  max-width: 700px;
  color: #fff;
}
.content-box h4{
  font-size: 30px;
}

.content-box h1{
  font-size: 52px;
}

.content-box a{
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 5px 25px;
}

.content-box a:hover{
  color: #000;
  background: #fff;
  transition: 0.5s all;
}
.content-box p{
  color: #fff;
}

/*About us*/
.about li a{
  color: #000;
  display: inline-block;
  height: 42px;
  width: 42px;
  font-size: 20px;
  border: 2px solid #d4d4d4;
  border-radius: 50%;
  line-height: 40px;
  transition: 0.5s all;
  text-align: center;
}

.about li a:hover{
  color: blue;
}

.about .about-img{
  object-fit: cover;
  
}
.about .about-img{
  --b: 8px;     /* the border thickness*/
  --g: 14px;    /* the gap */
  --c: #4ECDC4; /* the color */
  
  width: var(--s);
  aspect-ratio: 1;
  outline: calc(var(--s)/2) solid #0009;
  outline-offset: calc(var(--s)/-2);
  cursor: pointer;
  transition: 0.3s;
}
.about .about-img:hover {
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);
  transition: 1.5s all ease;
}

img + img {
  border-radius: 50%;
}




.r-p{
  padding-top: 50px;
  padding-bottom: 50px;
}

/*experience section*/
.exp-class .progress{
  height: 10px;
  border-radius: 20px;
  font-size: 10px;

}
.progress-bar{
  background-color: #EE8683 !important;

}
.exp-class label{
  font-size: 20px;
  margin: 10px;
}

/*sevice section*/

.big-sec{
  background: #F8F9FA;
}



.card .header{
  background: #F8F9FA !important;
}
.card-header{
  border: none !important;
}
.card-text{
  color: #242222;
  
}

.services-class .card-header i{
  font-size: 50px;
}
.services-class .card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  background: rgba(3, 138, 255);
  transition: 1s all ease;
  
  
}

.service-border{
  height: 2px;
  width: 40px;
  margin: 15px auto;
  background: #FF9800;
}

.r-btn{
  padding: 5px 20px;
  background-color: #FF9800 !important;
  color: #fff !important;
}

/*hire-me*/

.hire-me .hire-img{
  padding: 100px 0;
  background-image: url('../images/hire-me.jpg');
  background-size: cover;
  background-position: center;

}

.hire-me .hire-img h3{
  color: #000;
  font-weight: 400;
  font-size: 30px;
}



/*testimony*/

.testimony-class .test-item{
  max-width: 500px;
  margin: 50px auto;
  
}

.testimony-class .test-item .test-img{
  width: 250px;
  height: 250px;
  object-fit: cover;

}
.testimony-class .test-item i{
  color: grey;
  font-size: 30px;
  
}

.test-item p.test-name{
  font-size: 22px;

}

/*work*/
.work .card-wrapper{
  padding-top: 15px;
  padding-bottom: 15px;
}



.work .card-wrapper .work-img:hover img{
  
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  transition: 1s all ease;

}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 20px;
  color: #FF9800;
  font-weight: 600;
}

.bottom-right{
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 20px;
  color: #EE8683;
  font-weight: 600;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FF9800;
  font-size: 30px;
  font-weight: 800;
}

/*contact us*/

.contact .img-box{
  padding: 200px 0;
  background-image: url('../images/phone.jpg');
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: auto;
}

.contact .img-box h2{
  text-align: left;
}


.contact .r-icon{
  font-size: 75px;
  text-align: center;
}

/*footer*/

footer{
  height: 200px;
  background-color: #333333;
}

footer .r-icon a{
  font-size: 20px;
  color: #848484;
  padding: 10px;
  border: 1px solid #848484;
  border-radius: 50%;

}
footer .r-icon a:hover{
  border: 1px solid #eee;
  color: #eee;
  transition: 1.5s all;
}



